@inject ViewModels.ISmartphonesViewModel viewModel
@using static Models.SmartphoneModel 


@page "/smartphones"
@using GadgetBlitzZTPAI.WebClient.Models
@using System.Collections.ObjectModel

<PageTitle>Smartphones</PageTitle>


<div class="row">

    <RadzenDataList PageSize="6" WrapItems="true" AllowPaging="true"
                    Data="@viewModel.Smartphones" TItem="SmartphoneModel">
        <Template Context="smartphone">
             <div style=" display:flex; padding: 0 16px; flex-wrap:wrap;">
            <RadzenCard Class="rz-my-12 rz-mx-auto" Style="width: 280px">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                        <RadzenImage Path="@smartphone.PhotoUrl" Style="width: 140px; height: 150px;" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Smartphone</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@smartphone.Name</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Price</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", smartphone.AVGPrice)</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>
                    <RadzenButton Variant="Variant.Text" Text="Details" Click="@( () => viewModel.NavigateToDetails (smartphone.SmartphoneId.ToString()))"/>
            </RadzenCard>
            </div>
        </Template>
    </RadzenDataList>




</div>


